body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding:0px;
}
h1{
    font-size: 50px;
}
.h2{
    font-size: 40px;
}
.name-highlight{
    color:orange;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    min-height: 500px;
    background-repeat: no-repeat;

}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    padding:10px 30px;
    color:white;
    font-weight: bold;
    border-radius: 10px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    min-height: 560px;
    
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 65%;
    background-color: white;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(145deg, lightSalmon,tomato);
    border-image-slice: 1;
}
#baby-dev{
    border-left:7px solid;
    border-image:linear-gradient(145deg, blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align:center
}
.experience-bg{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
